<%= render "devise/shared/login_header" %>

<h2>Reset Password</h2>

<%= form_for(:password_reset, url: user_password_path, html: { method: :post }) do |f| %>
  <%# <%= render "devise/shared/error_messages", model: f.object %> 

  <div class="field_reset">
    <%= f.label :email, "メールアドレス", class: "label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email_form" %>
  </div>

  <div class="actions_reset">
    <%= f.submit "送信", class: "instructions_btn" %>
  </div>
<% end %>
