<%= render "devise/shared/header" %>

<div class="current_mode" id="mode_select">
  <select class="payment_select_box" id="payments_mode" change="paymentSel()">
    <option value="1">💴</option>
    <option value="2">💳</option>
    <option value="3">🏧</option>
  </select>

  <div class="cash_num">
    <div class="canvas_views" id="num-counter">
      <div class="canvas_view">
        <div class="current_num" data_num ="<%= @user.cash - @sum_cash %>" id="cash-current-num">0</div>
        <div class="current_num" data_num ="<%= @debt_num_future %>" id="debt-current-num">0</div> 
        <div class="current_num" data_num ="<%= @user.savings - @sum_atm %>" id="savings-current-num">0</div> 
      </div>
      <div class="bar_view" id="money-bar">
        <div id="tank"></div>
        <div id="canvas-frame-2">
          <div id="canvas-2"></div>
          <div id="low_num"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="setting_nav">
  <div class="new_list">
    <%= image_tag "鉛筆ボタン.png", size: "20x20" %>
    <%= link_to "新規登録", new_payments_balance_path, class: "post" %>
  </div>
  <%# <%= link_to "グラフ", "#", class: "post" %> <%# 追加実装フェイズで実装 %>
  <div class="option_menu_bar" id="option-menu">
  
  <ul class="menu_elements">設定
    
    <li class="pull-down-list">
      <%= image_tag "9736.png", size: "20x25" %>
      <%= link_to "ユーザー情報", "/users/#{current_user.id}" %>
    </li>
    <%# <li class="pull-down-list"><%= link_to "オプション", "#" </li> %><%# 追加実装フェイズで実装 %>
  </ul>
<div>

<% day_number = 0 %>

<%= month_calendar event: @payments_balances do |date, _| %>
  <div id="payments-balance-data" data-payment-count="<%= @payments_balances.count %>">
    <% count_amount = PaymentsBalance.where(date: date, user_id: current_user.id).count %>
    <% unless count_amount.zero? %>
      <%= link_to date.day, payments_balances_path(date: date), class: "date_info" %><br/>
      <% total_income = PaymentsBalance.where(date: date, user_id: current_user.id, parent_id: purpose_id = 1).sum(:amount) %>
      <% total_expend = PaymentsBalance.where(date: date, user_id: current_user.id, parent_id: purpose_id = 2).sum(:amount) %>
      <% total_amount = total_expend - total_income %>
      <div class="sum_amount_num" id="amount-num-<%= day_number %>">
        <%= total_amount.to_s(:delimited, delimiter: ',') %>
      </div>
      <% count_amount = PaymentsBalance.where(date: date, user_id: current_user.id).count(:amount) %>
      <div class="count_amount_num">
      <%= image_tag "キュートながま口財布アイコン.png", size: "20x20" %><%= count_amount %>
      </div>
    <% else %>
      <span class="date_no_info"><%= date.day %></span>
    <% end %>
  </div>
  <% day_number += 1 %>
<% end %>
