<%= render "devise/shared/header" %>

<select class="payment_select_box" id="payments" change="paymentSel()">
  <option value="1">💴</option>
  <option value="2">💳</option>
  <option value="3">🏧</option>
</select>



<div class="setting_nav">
  <div><%= link_to "新規登録", new_payments_balance_path, class: "post" %></div>
  <%# <%= link_to "グラフ", "#", class: "post" %> <%# 追加実装フェイズで実装 %>
  <div class="option_menu_bar" id="option-menu">
  <ul class="menu_elements">設定
    <li class="pull-down-list"><%= link_to "ユーザー情報", "/users/#{current_user.id}" %></li>
    <li class="pull-down-list"><%= link_to "オプション", "#" %></li>
  </ul>
<div>

<%= month_calendar event: @payments_balances do |date, _| %>
  <div id="payments-balance-data" data-payment-count="<%= @payments_balances.count %>">
    <% count_amount = PaymentsBalance.where(date: date, user_id: current_user.id).count %>
    <% unless count_amount.zero? %>
      <%= link_to date.day, payments_balances_path(date: date), class: "date_info" %><br/>
      <% total_income = PaymentsBalance.where(date: date, user_id: current_user.id, parent_id: purpose_id = 1).sum(:amount) %>
      <% total_expend = PaymentsBalance.where(date: date, user_id: current_user.id, parent_id: purpose_id = 2).sum(:amount) %>
      <% total_amount = total_expend - total_income %>
      <div id="amount-num-<%= date.day %>">
        <%= total_amount %>
      </div>
      
      <% count_amount = PaymentsBalance.where(date: date, user_id: current_user.id).count(:amount) %>
      <div class="count_amount_num">
      👛<%= count_amount.to_s(:delimited, delimiter: ',') %>
      </div>
    <% else %>

      <%= date.day %>
    <% end %>
  </div>
<% end %>
