<%= render "devise/shared/header" %>

<h1>Budget List</h1>
<%= form_with model: @form, url: payments_balances_path, id: "pb-form", local: true do |form| %>
<%= render 'devise/shared/error_messages', model: @form %>
  <button type="button" class="add-form" id="add-form-button">追加</button>
  <table class="payments_balance_table">
      <thead>
        <tr>
          <th class="tb_date">    日付     </th>
          <th class="tb_purpose"> 使用目的 </th>
          <th class="tb_amount">  金額     </th>
          <th class="tb_payment"> 決済方法 </th>
          <th class="tb_delete"></th>
        </tr>
      </thead>
    <tbody>
    <%= form.fields_for :payments_balances do |balance| %>
      <tr class="balance_forms">
        <td class="balance_form_date"><%= balance.date_field :date, type: "date", class: "form_date", id:"inputform-date-0" %></td>
        <td class="balance_form_purpose" id="new-select-purpose-0"><%= balance.collection_select :purpose_id, Purpose.roots, :id, :name, { include_blank: "---" }, { id: "new-parent-category-0", class: "form_purpose" } %></td>
        <td class="balance_form_amount"><%= balance.text_field :amount, class: "form_amount", placeholder: "0", type: "number", style: "text-align:right", id: "inputform-amount-0" %></td>
        <td class="balance_form_payment"><%= balance.collection_select(:payment_id, Payment.all, :id, :name, {}, {class: "form_payment", id:"payment-category-0"}) %></td>
        <td class="balance_form_delete"><button type="button" class="delete-form" id="deleted-form-ids" data-form_id="form-0">削除</button></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="balance_forms" id="form-area"></div>
  <div class="setting_menu">
  <%= form.submit "登録", class: "save_btn", id: "save-button" %>
  <%= link_to "戻る", root_path, class: "back_btn" %>
  </div>
<% end %>

