<%= render "devise/shared/header" %>

<h1>Payments Balance List</h1>

<h2><%= @selected_date %></h2>

<% pb_num = 0 %>

<% if @payments_balance.any? %>
  <table class="show_payments">
    <thead>
      <tr>
          <th class="tb_purpose"> 使用目的 </th>
          <th class="tb_amount">  金額     </th>
          <th class="tb_payment"> 決済方法 </th>
      </tr>
    </thead>
    <tbody>
      <% @payments_balance.each do |balance| %>
        <tr>
          <td class="blance_propuse">
            <% balance.purpose.ancestors.each do |category| %>
              <span><%= category.name %></span>
              <span>,</span>
            <% end %>
            <span><%= balance.purpose.name %></span>
          </td>
          <td class="blance_amount">
          <% if balance.parent_id == 2 || balance.parent_id == 4 %>
            <span id="pb-amount-num-<%= pb_num %>"><%= balance.amount.to_s(:delimited, delimiter: ',') %></span>
          <% else %>
            <span><%= balance.amount.to_s(:delimited, delimiter: ',') %></span>
          <% end %>
          </td>
          <td class="blance_payment">
            <%= balance.payment.name %>
          </td>
        </tr>
        <% pb_num += 1 %>
      <% end %>
    </tbody>
  </table>

  <table class="total_payments">
    <thead>
      <tr>
        <th class="tb_income"> 収入 </th>
        <th class="tb_expend"> 支出 </th>
        <th class="tb_amount"> 合計 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="income" id="income-num">
          <%= @total_income.to_s(:delimited, delimiter: ',') %>
        </td>
        <td class="expend" id="expend-num">
          <%= @total_expend.to_s(:delimited, delimiter: ',') %> 
        </td>
        <td class="total_amount" id="total-amount-num">
           <%= total_amount = (@total_expend.to_i - @total_income.to_i).to_s(:delimited, delimiter: ',') %>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>No data found.</p>
<% end %>

<%= link_to "編集", edit_payments_balance_path(date: @selected_date, id: @payments_balance.pluck(:id).join(',')), class: "edit_btn" %>
<%= link_to "戻る", root_path, class: "back_btn"  %>

