<%= render "devise/shared/header" %>

<h1>Payments Balance List</h1>

<h2><%= @selected_date %></h2>

<% if @payments_balance.any? %>
  <table>
    <thead>
      <tr>
        <th> purpose </th>
        <th> amount </th>
        <th> payment </th>
      </tr>
    </thead>
    <tbody>
      <% @payments_balance.each do |balance| %>
        <tr>
          <td>
            <% balance.purpose.ancestors.each do |category| %>
              <span><%= category.name %></span>
              <span>,</span>
            <% end %>
            <span><%= balance.purpose.name %></span>
          </td>
          <td><%= balance.amount %></td>
          <td><%= balance.payment.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= total_income = PaymentsBalance.where(date: @selected_date, user_id: current_user.id, parent_id: purpose_id = 1).sum(:amount) %>
  <%= total_expend = PaymentsBalance.where(date: @selected_date, user_id: current_user.id, parent_id: purpose_id = 2).sum(:amount) %>
  <%= total_amount = total_expend - total_income %>
<% else %>
  <p>No data found.</p>
<% end %>

<%= link_to "編集", edit_payments_balance_path(date: @selected_date, id: @payments_balance.pluck(:id).join(',')) %>
<%= link_to "戻る", root_path %>

