<%= render "devise/shared/header" %>

<h1>Payments Balance List</h1>

<h2><%= @selected_date %></h2>

<% if @payments_balance.any? %>
  <table>
    <thead>
      <tr>
        <th> 使用目的 </th>
        <th> 金額     </th>
        <th> 決済方法 </th>
      </tr>
    </thead>
    <tbody>
      <% @payments_balance.each do |balance| %>
        <tr>
          <td>
            <% balance.purpose.ancestors.each do |category| %>
              <span><%= category.name %></span>
              <span>,</span>
            <% end %>
            <span><%= balance.purpose.name %></span>
          </td>
          <td><%= balance.amount.to_s(:delimited, delimiter: ',') %></td>
          <td><%= balance.payment.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th> 収入 </th>
        <th> 支出 </th>
        <th> 合計 </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @total_income.to_s(:delimited, delimiter: ',') %>
        </td>
        <td>
          <%= @total_expend.to_s(:delimited, delimiter: ',') %> 
        </td>
        <td>
           <%= total_amount = (@total_expend.to_i - @total_income.to_i).to_s(:delimited, delimiter: ',') %>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>No data found.</p>
<% end %>

<%= link_to "編集", edit_payments_balance_path(date: @selected_date, id: @payments_balance.pluck(:id).join(',')) %>
<%= link_to "戻る", root_path %>

