<%= render "devise/shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@nickname}さんの金銭状況"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">現所持金(現金)</th>
            <td class="table__col2"><%= @cash %></td>
          </tr>
          <tr>
            <th class="table__col1">借金状況</th>
            <td class="table__col2"><%= @debt %></td>
          </tr>
          <tr>
            <th class="table__col1">貯金額</th>
            <td class="table__col2"><%= @savings %></td>
          </tr>
          <tr>
            <th class="table__col1">年収</th>
            <td class="table__col2"><%= @annual_income %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to "編集", edit_user_path(current_user.id) %>
<%= link_to "戻る", root_path %>