<%= render "devise/shared/header" %>

<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@nickname}さんの金銭状況"%>
      </h2>
      <table class="money_info_table">
        <tbody>
          <tr>
            <th class="table_col1">現金</th>
            <td class="table_col2"><%= (@cash - @cash_over_short).to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <tr>
            <th class="table_col1">借金状況</th>
            <td class="table_col2"><%= (@debt + @debt_num_future.to_i).to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <tr>
            <th class="table_col1">貯金額</th>
            <td class="table_col2"><%= (@savings - @sum_atm).to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <tr>
            <th class="table_col1">年収</th>
            <td class="table_col2"><%= (@annual_income).to_s(:delimited, delimiter: ',') %>万</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to "編集", edit_user_path(current_user.id), class: "edit_btn" %>
<%= link_to "戻る", root_path, class: "back_btn" %>
