<%= render "devise/shared/login_header" %>

<h2>パスワード再登録</h2>

<%= form_for(resource, as: resource_name, url: new_user_password_path, html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email_form" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "instructions_btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
