<%= render "devise/shared/login_header" %>

<h2>Reset Password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", model: f.object %> 

  <div class="field">
    <%= f.label :email, "メールアドレス", class: "label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email_form" %>
  </div>

  <div class="actions">
    <div class="instruction">
      <%= f.submit "送信", class: "instructions_btn" %>
    </div>
    <div class="back_login">
      <%= image_tag "Uターン矢印 1.png", size: "20x20" %>
      <%= link_to "戻る", new_session_path(resource_name), class: "back_btn_login" %>
    </div>
  </div>
<% end %>
